@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

div.navigation{
  list-style: none;
  background-color: #C8A2C8;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 5px;
  margin-right: auto;
}

header ul{
  display: flex;
}

header ul li a{
  padding: 5px 20px;
  display: block;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.navbar {
  background-color:#C8A2C8 ;
  padding: 1rem;
}

.navbar ul{
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 1px;
  margin: 1px;
}

.navbar li {
  margin-left: 2rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: black;
}